body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    /* background: rgb(125, 214, 195); */
    background: rgb(21,177,177);
    background: linear-gradient(180deg, rgba(21,177,177,1) 6%, rgba(182,214,204,1) 48%, rgba(21,177,177,1) 99%);
    font-family: 'Open Sans', sans-serif;
    /* background-image: url('https://images.unsplash.com/photo-1569761316261-9a8696fa2ca3?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80'); 
    background-repeat: no-repeat;
    background-size: 120%;  */
}

#app {
    background: #2b2a2ad8;
    color: white;
    padding: 1em;
    border-radius: 10px;
    width: 100%;
    width: 70vw;
    height: 90vh;
    overflow: auto;
}

a:link {
  color: rgb(106, 176, 185);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
  
}

a:hover {
  color: rgb(173, 111, 111);
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: rgb(255, 255, 255);
  background-color: transparent;
  text-decoration: underline;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  padding: 15px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(106, 176, 185);
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #6ba5a0;
}


